.main_layout {
    display: flex;
    /* min-width: 100vw; */
}

.product_gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: .5rem;
    padding: 1rem;
    /* grid-column: span 4 / span 4; */
}

.product_card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: .5rem;
}

.product_card:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.product_card_thumbnailLink {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    overflow: hidden;
    border-radius: .25rem;
}

.product_card_img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); */
}

.product_card_description {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
.product_card_description > a {
    text-decoration: none;
    color: var(--text-black);
}

.product_card_title {
    margin-top: .25rem;
    font-weight: 500;
    min-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_card_price {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-red);
    margin-bottom: .5rem;
    text-align: start;
}

.product_card_addCart {
    border: 0;
    cursor: pointer;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    background: var(--parimary-gray);
    color: var(--text-gray);
    width: 100%;
}
.product_card_addCart:hover {
    background: var(--parimary-blue);
    color: #fff;
}

@media (min-width: 768px) {
    .product_gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }   
}

@media (min-width: 1024px) {
    .product_gallery {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }   
}

@media (min-width: 1280px) {
    .product_gallery {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }   
}